<h1>Show</h1>
<p>
  <strong>Name:</strong>
   <%= @detail.Name%>
</p>

<p>
   <strong>Age:</strong>
   <%= @detail.Age%>
</p>

<p>
  <strong>Email:</strong>:</strong>
  <%= @detail.Email%>
</p>

<%= link_to 'Back',details_path%>

      



